.container-fluid{    
    color:white;
    text-align: center;
    
}
footer{
    height: 100%;
    color:white;
    background-color: black;
    margin: 2em 0em 0em 0em;
}
.carousel-item{
    width:auto; 
    height:50%;
}
#carouselExampleIndicators{
    margin:auto;
    width: 50%;
}

li{
    list-style: none;
}
a{
    color:white;
    text-align: left;
}